@import "bootstrap";

.inventory {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn-item {
  width: 50vh;
  height: 15vh;
  background-color: white;
  color: black;
}
.btn:hover {
  background-color: grey;
}
.btn:focus {
  background-color: grey;
}
.nav {
  color: blue;
}
footer {
  background-color: black;
  height: 5vh;

}
