<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Inventory Manager{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
            {{#link-to 'index' tagName="li"}}<a href="">Sign In</a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>

<div class='inventory'>
{{#each model.inventory as |inventory|}}
  <button type="button" class="btn btn-info btn-lg btn-item">
    <div>
      <h4>{{inventory.name}}</h4>
    </div>
    <div>
  <h5>
    {{inventory.quantity}}
  </h5>
    </div>
  </button>
  
<br>

{{/each}}
</div>

<footer class="footer">
  <div class="container">
    Inventory Mana
  </div>
</footer>
